body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color:#333
  width: 600px;
  margin: 10px auto;
  text-align: left;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

h2 {
  text-align: left;
  margin: 10px auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

p {
  text-align: left;
  font-size: 14px;
  padding-top: 10px;
}

.container {
  width: 100%;
  height: 100%;
  margin: 10px auto;
}

#wrapper {
  width: 100%;
  min-width: 600px;
  max-width: 600px;
  margin: 0 auto;
}

#contentliquid {
  float: left;
  width: 100%;
}

#content {
  background: #FFFFFF;
  width: 100%;
}