<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title id="page_title"></title>
        <link rel="stylesheet" href="/stylesheets/graph.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/normalize.css">

		<script type="text/javascript" src="/engine/jquery/scripts/jquery.min.js"></script>
		<script type="text/javascript" src="/engine/chart.js/scripts/Chart.min.js"></script>
		<script type="text/javascript" src="/engine/xlsx/scripts/xlsx.full.min.js"></script>

		<script>
		function get(name){
   			if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
      		return decodeURIComponent(name[1]);
		}


		function loadSpreadsheet(filename, chart_type, chart_title) {

			// Define Vars
			var request;
			var keys = [];
			var values = [];


			if (window.XMLHttpRequest) {
			    request = new XMLHttpRequest();
			} else {
			    // code for older browsers
			    request = new ActiveXObject("Microsoft.XMLHTTP");
			}
			request.onreadystatechange = function() {
			    if (this.readyState == 4 && this.status == 200) {
			    }
			};

			request.open("GET", "./spreadsheets/" + filename, true);
			request.responseType = "arraybuffer";

			request.onload = function(e) {
				var arraybuffer = request.response;
			  	var data = new Uint8Array(arraybuffer);
			  	var arr = new Array();
			  	for(var i = 0; i != data.length; ++i) arr[i] = String.fromCharCode(data[i]);
			  	var bstr = arr.join("");
			  	var workbook = XLSX.read(bstr, {type:"binary"});
			  	var first_sheet_name = workbook.SheetNames[0];
			  	var worksheet = workbook.Sheets[first_sheet_name];

			  	var roa = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[first_sheet_name]);

			  	for (var i = 0; i < roa.length; i++) {
			  		var row = roa[i];

			  		if(i == 0){
				  		$.each(row,function(value, index){ 
				  					keys.push(value);
				  				}
				  		);
			  		}

			  		$.each(row,function(value, index){ 
			  					values.push(row[value]);
			  				}
			  		);
			  	}


			    var ctx = document.getElementById("chart");

				var chart = new Chart(ctx, {
					type: chart_type,
					data: {
					    labels: keys,
					     datasets: [{
					        label: chart_title,

					        fill: false,
				            lineTension: 0.1,
				            backgroundColor: border_Color,
				            borderColor: border_Color,
				            borderCapStyle: 'butt',
				            borderDash: [],
				            borderDashOffset: 0.0,
				            borderJoinStyle: 'miter',
				            pointBorderColor: border_Color,
				            pointBackgroundColor: "#fff",
				            pointBorderWidth: 1,
				            pointHoverRadius: 5,
				            pointHoverBackgroundColor: border_Color,
				            pointHoverBorderColor: border_Color,
				            pointHoverBorderWidth: 2,
				            pointRadius: 1,
				            pointHitRadius: 10,

					        data: values,
					        }]
					    },
					    options: {
					        scales: {
					            yAxes: [{
					                ticks: {
					                    beginAtZero:true
					                }
					            }]
					        }
					    }
					});
			}

			request.send();
		}

		var page_title = get("page_title");
		var filename 	= get("filename");
		var chart_type 	= get("chart_type");
		var chart_title = get("chart_title");
		var border_Color = get("border_Color");

		if( filename ) {
			window.onpaint = loadSpreadsheet(filename, chart_type, chart_title);
		}
		else{
			window.location.href = "/usage";
		}

		</script>

	<body>
		<h2 id="chart_title"></h2>

    	<div class="container">
	        <div class="container">
	            <canvas id="chart"></canvas>
	        </div>
    	</div>

    	<script type="text/javascript">
    		document.getElementById("chart_title").innerHTML = page_title;
    		document.getElementById("page_title").innerHTML = page_title;
    	</script>

	</body>


</html>