<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title id="page_title"></title>
        <link rel="stylesheet" href="/stylesheets/graph.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="/stylesheets/normalize.css">

		<script type="text/javascript" src="/engine/jquery/scripts/jquery.min.js"></script>

		<script>
		function get(name){
   			if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
      		return decodeURIComponent(name[1]);
		}

		var page_title = get("page_title");
		var filename 	= get("filename");
		var chart_type 	= get("chart_type");
		var chart_title = get("chart_title");
		var border_Color = get("border_Color");

		</script>

	<body>
		<div id="wrapper">
        	<div id="contentliquid"><div id="content">
				<h2 id="page_heading"></h2>
		    	<div class="container">
			        <div class="container">
			            <p><strong>Usage of DH6010 Data visualisation tool</strong> <br/>
			            Download <a href="https://bitbucket.org/MuddyGames/dh6010">sourcecode</a> and complete <a href="https://bitbucket.org/MuddyGames/dh6010">setup instructions</a><br/><br/>
			            Place Excel spreadsheets within the spreadsheets directory.
			            <div style="background: #202020; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">1</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #d0d0d0">/data/spreadsheets</span>
						</pre></td></tr></table></div>
						<br/>
						Create a URL which will import the spreadsheet and display as a web enabled chart.
			            <div style="background: #202020; overflow:auto;width:auto;border:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;"><table><tr><td><pre style="margin: 0; line-height: 125%">1</pre></td><td><pre style="margin: 0; line-height: 125%"><span style="color: #d0d0d0">http://</span><span style="color: #40ffff">[replace with application URL]</span><span style="color: #d0d0d0">:</span><span style="color: #40ffff">[Port]</span><span style="color: #d0d0d0">/</span><span style="color: #6ab825; font-weight: bold">?</span><span style="color: #d0d0d0">page_title=</span><span style="color: #40ffff">[Page Title]</span><span style="color: #d0d0d0">&amp;chart_title=</span><span style="color: #40ffff">[Chart Title]</span><span style="color: #d0d0d0">&amp;filename=</span><span style="color: #40ffff">[Filename.xlsx]</span><span style="color: #d0d0d0">&amp;chart_type=<span style="color: #40ffff">[line]</span>&amp;border_Color=<span style="color: #40ffff">[rgba(220,192,192,1)]</span></span>
						</pre></td></tr></table></div>
						<br/>
			            <p><strong>Example:</strong> if running on <strong>localhost</strong> and port = <strong>5000</strong><br/>
			            <a href="http://localhost:5000/?page_title=The%20Data&chart_title=Trend&filename=master.xlsx&chart_type=line&border_Color=rgba(220,192,192,1)">http://localhost:5000/?page_title=The%20Data&chart_title=Trend&filename=master.xlsx&chart_type=line&border_Color=rgba(220,192,192,1)</a></p>

			            <p><strong>Example:</strong> if running on <strong>Server</strong><br/>
			            <a id="server_url_line" href="./">DH6010 Data Visualisation Server (Line Chart)</a><br/>
			            <a id="server_url_bar" href="./">DH6010 Data Visualisation Server (Bar Chart)</a><br/>
			            <a id="server_url_radar" href="./">DH6010 Data Visualisation Server (Radar Chart)</a></p>
			        </div>
		    	</div>

		    	<script type="text/javascript">
		    		var server_url_line = "./?page_title=The%20Data&chart_title=Trend&filename=master.xlsx&chart_type=line&border_Color=rgba(220,192,192,1)"
		    		var server_url_bar = "./?page_title=The%20Data&chart_title=Trend&filename=master.xlsx&chart_type=bar&border_Color=rgba(220,192,192,1)"
		    		var server_url_radar = "./?page_title=The%20Data&chart_title=Trend&filename=master.xlsx&chart_type=radar&border_Color=rgba(220,192,192,1)"
		    		document.getElementById("page_title").innerHTML = "Usage";
		    		document.getElementById("page_heading").innerHTML = "Usage Guidelines";
		    		document.getElementById("server_url_line").setAttribute('href', server_url_line);
		    		document.getElementById("server_url_bar").setAttribute('href', server_url_bar);
		    		document.getElementById("server_url_radar").setAttribute('href', server_url_radar);
		    	</script>
		    </div></div>
    	</div>
	</body>
</html>