<br/>
<a href="https://dh6010.herokuapp.com/spreadsheets/Planning-Permissions-Granted.xlsx">Planning-Permissions-Granted.xlsx</a>
<br/>
<a href="https://dh6010.herokuapp.com/spreadsheets/Raw-Planning-Permissions-Granted.csv">Raw-Planning-Permissions-Granted.csv</a>
<br/>
<br/>

<iframe src="https://dh6010.herokuapp.com/?page_title=Planning%20Permissions%20Granted%20from%202006%20to%202015&chart_title=Granted&filename=Planning-Permissions-Granted.xlsx&chart_type=line&border_Color=rgba(220,192,192,1)" width="650px" height="450px">
<p>Browser does not support iframes.</p>
</iframe>

<br/>
<br/>
<a href="https://dh6010.herokuapp.com/spreadsheets/Estimated-Emigration-All-Nationalities.xlsx">Estimated-Emigration-All-Nationalities.xlsx</a>
<br/>
<a href="https://dh6010.herokuapp.com/spreadsheets/Raw-Estimated-Emigration-All-Nationalities.xls">Raw-Estimated-Emigration-All-Nationalities.xls</a>
<br/>
<br/>

<iframe src="https://dh6010.herokuapp.com/?page_title=Estimated%20Emigration%20from%202006%20to%202015&chart_title=Emigrants(All%20Nationalities)&filename=Estimated-Emigration-All-Nationalities.xlsx&chart_type=line&border_Color=rgba(75,192,192,1)" width="650px" height="450px">
<p>Browser does not support iframes.</p>
</iframe>

<br/>
<br/>


